/* ------------------------------------------标签 tag--------------------------------------------- */
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty) {
    /* color: var(--b3-theme-primary); */
    color: #fafafa;
    /* background-color: #d5f7d3 !important; */
    /* background-color: transparent !important; */
    background-color: #56bd90 !important;
    border: 1px solid var(--b3-theme-primary-lighter);
    border-radius: 50px;
    padding-left: 4px;
    padding-right: 6px;
    font-size: 90%;
    position: relative;
    top: -0.08em;
    padding-left: 8px;
    padding-right: 8px;
}


.protyle-wysiwyg [data-node-id] span[data-type="tag"] {
    border-bottom: none;
}

/* ————————————————————标签#号———————————————————— */
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty)::before {
    content: "◎ ";
}

/* todo */
/* .protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="todo"],
.protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="Todo"],
.protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="TODO"] {
    color: #d83931;
    background-color: #fbbfbc4d;
    border-color: #fbbfbc4d;
} */

/* doing */
/* .protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="Doing"],
.protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="doing"],
.protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="DOING"] {
    color: #245bdb;
    background-color: #bacefd4d;
    border-color: #bacefd4d;
} */

/* done */
/* .protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="Done"],
.protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="DONE"],
.protyle-wysiwyg [data-node-id] span[data-type='tag'][data-content="done"] {
    color: #2ea121;
    background-color: #b7edb14d;
    border-color: #b7edb14d;
} */
/* ------------------------------------------标签 END--------------------------------------------- */