/* -------------------------------------------------面包屑导航样式-------------------------------------------- */
.protyle-breadcrumb {
    color: rgb(192, 192, 192);
}

/* .protyle-breadcrumb__item svg {
    height: 14px;
    width: 14px;
}

.fn__flex-1.protyle {
    background-color: var(--b3-theme-background2);
}

.protyle-content {
    border-top: var(--b3-border-normal);
    box-shadow: var(--b3-protyle-content-shadow);
} */

/* -------------------------------------------------面包屑导航样式 END-------------------------------------------- */