/* 隐藏左上角设置按钮，鼠标悬浮时显示 */
#toolbar .toolbar__item svg {
    opacity: 0;
}

#toolbar:hover svg {
    opacity: 1;
}

div#toolbar .toolbar__item:not(.toolbar__item:last-child):hover {
    background-color: transparent;
}


/* 给左侧dock栏设置右边框 */
/* div#dockLeft {
    border-right: 0.05em solid #80808080 !important;
} */

/* 给右侧dock栏设置左边框 */
/* div#dockRight {
    border-left: 0.05em solid #80808080 !important;
} */

/* 设置顶栏背景颜色 */
div#toolbar {
    background-color: #387e55;
}

/* 设置顶栏中间文字的颜色 */
.toolbar #drag {
    color: #ffffff80;
}

/* 设置顶栏图标的颜色 */
.toolbar .fn__flex>div,
div#toolbar>div {
    color: #ffffff80;
}

/* 设置侧边栏的颜色 */
div#dockLeft {
    background-color: #bad1c0;
}

div#dockRight {
    background-color: #d4e7d8;
}

/* 修改最小化窗口鼠标悬浮时的颜色 */
div#minWindow:hover {
    background-color: rgba(255, 255, 169, 0.8) !important;
}

div#restoreWindow:hover {
    background-color: rgba(178, 255, 178, 0.8) !important;
}