/* ----------------------------------------修改文档树新建按钮的样式----------------------------------------- */
/* 隐藏文档树后面的引用计数 */
span.popover__block.counter.b3-tooltips.b3-tooltips__nw {
    display: none;
}

/* 隐藏大纲后面的引用计数 */
.fn__flex-1.fn__flex-column.file-tree.sy__outline span.counter {
    display: none;
}


/* ————————————————————大纲等文字显示主题色———————————————————— */
.block__logo {
    font-weight: bold;
    color: #21964c;
}

/* ————————————————————文档树、大纲、反向链接顶部的背景颜色———————————————————— */
.block__icons {
    background-color: transparent;
    border: 1px solid var(--b3-border-color);
}

/* ————————————————————设置界面字体大小，不包括正文，正文字体大小在编辑器那里选择———————————————————— */
/* 主要修改的是文档树字体大小 */
body {
    font-size: 15.5px;
    font-weight: normal;
}

/* -----------------------------------------------------------取消文档树、大纲、反向链接左边的icon，感觉显示重复了 */
.block__logo svg {
    display: none;
}

/* ------------------------------------------------------文档树--------------------------------------- */
/* ————————————————————————————文件树文档图标悬浮放大———————————————————————— */
.b3-list--files .b3-list-item__icon {
    transition: all 0.1s ease-in-out;
}

.b3-list--files .b3-list-item__icon:hover {
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

/* ————————————————————————————dock栏和顶部图标放大动效—————————————————————— */
.dock--vertical .dock__item:hover svg,
.toolbar__item:hover svg {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.block__icon:hover svg {
    transform: scale(0.9) !important;
}

.dock--vertical .dock__item svg,
.toolbar__item svg,
.block__icon svg {
    transition: all 0.1s ease-in-out;
}

/* ————————————————————————文档树区分有子文档和无子文档的文档—————————————————————— */
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    content: "·";
    display: block;
    position: absolute;
    visibility: visible;
    transition: var(--b3-transition);
    margin-bottom: 2px;
}

/* ——————————————————————————————取消默认的隐藏效果(时间久远，忘了代码是干啥的了)———————————————————————— */
.file-tree--leave .b3-list-item__graphic--arrow:not(.fn__hidden) {
    opacity: 1;
}

/* ------------------------------------------------------文档树 END--------------------------------------- */

/* ——————————————————————————————点击文档树emoji不弹出修改窗口—————————————————————————— */
span.b3-list-item__icon.b3-tooltips.b3-tooltips__n {
    pointer-events: none;
}


/* -----------------------------------------------------------文档树条目------------------------------------------------- */
/* ------------------------------------文档树文字设置为灰色------------------------------- */
.fn__flex-1.fn__flex-column .b3-list-item__text {
    color: #202124;
}



/* 设置侧栏为灰色 */
.fn__flex-1.fn__flex-column {
    /* background-color: #c7e8c8; */
    /* background-color: #c8edcc; */
    background-color: #c6dcc9;
}


/* 设置文档树左侧外边距 */
li.b3-list-item.b3-list-item--hide-action {
    margin-left: 8px;
    margin-right: 8px;
}


/* -----------------------------------文档树条目hover高亮-------------------------------- */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
    background-color: #bad1c0;
    border-radius: 3px !important;
}


.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus),
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__text,
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__icon svg,
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__toggle {
    color: #21964c;
}


/* -----------------------------文档树条目focus高亮,针对背景------------------------------- */
.b3-list--background .b3-list-item--focus {
    background-color: #bad1c0 !important;
    border-radius: 3px !important;
}

/* -----------------------------文档树条目focus高亮,针对文字和前面图标------------------------------- */
.b3-list--background .b3-list-item--focus .b3-list-item__text,
.b3-list--background .b3-list-item--focus .b3-list-item__graphic,
.b3-list--background .b3-list-item--focus .b3-list-item__icon svg,
.b3-list--background .b3-list-item--focus .b3-list-item__toggle {
    color: #21964c;
}

/* -----------------------------------------------------------文档树条目 END------------------------------------------------- */

.fn__flex-1.fn__flex-column.file-tree.sy__outline .b3-list-item,
.fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list-item {
    height: 2em;
}