/* 标签页相关设置 */

.layout-tab-bar.fn__flex,
ul.fn__flex.layout-tab-bar {
    background-color: var(--b3-theme-dock);
}


.layout-tab-bar .item {
    background-color: #d7f7c4;
    min-width: 12em;
    border-top: 4px solid var(--b3-theme-dock);
}

.layout-tab-bar .item:hover:not(.item--focus) {
    background-color: #d7f7c4!important;
    border-top: 4px solid var(--b3-theme-dock);
}


/* 标签页中文字的相关设置 */
.layout-tab-bar .item .item__text {
    width: 6em;
    padding-left: 15px;
    padding-right: 10px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: inline;
    color: gray;
    /* border-right: 1px solid #2bbe60; */
}
/* .layout-tab-bar .item--focus .item__text {
    padding-left: 15px;
    padding-right: 15px;
} */



/* 设置当前标签页样式 */
.layout-tab-bar .item--focus {
    color: var(--b3-theme-dock);
    background: var(--b3-theme-background);
    /* font-weight: bold !important; */
    box-shadow: none !important;
    border-top: 4px solid var(--b3-theme-background);
}

.layout-tab-bar .item--focus:first-child {
    border-radius: 0px 4px 0px 0px;
}


.layout-tab-bar .item--focus:last-child {
    border-radius: 4px 0px 0px 0px;
}


/* 给标签页中文字添加左侧边框（模仿chrome标签页的步骤） */
.layout-tab-bar .item:not(.item--focus) .item__text {
    border-left: 0.05em solid var(--b3-theme-primary-lighter);
}

/* 将第一个标签页左侧边框设置为透明（模仿chrome标签页的步骤） */
.layout-tab-bar .item:not(.item--focus):first-child .item__text {
    border-left: 0.05em solid transparent;
}

/* 给最后一个标签页设置右边框（模仿chrome标签页的步骤） */
/* .layout-tab-bar .item:not(.item--focus):last-child .item__text::after {
    border-right: 0.05em solid transparent;
} */

/* 将当前标签页的左侧边框设置为透明（不设置就没有边框宽度，点击会有一点点左右位移） */
.layout-tab-bar .item--focus .item__text {
    border-left: 0.05em solid transparent !important;
}

/* 将当前标签页的右侧标签页的左边框设置为透明 */
.layout-tab-bar .item--focus+.item .item__text {
    border-left: 0.05em solid transparent !important;
}