/* ----------------------------------------------引用---------------------------------------------- */
/* ——————————————————————————设置引用格式———————————————————————————— */
.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq),
.b3-typography blockquote:not(div.list div.bq) {
    position: relative;
    color: var(--b3-theme-dock);
    background-color: #c4dbc8;
    font-weight: 550;
    border-left-color: transparent;
    padding: 8px;
    padding-left: 20px;
}

.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq)::before,
.b3-typography blockquote:not(div.list div.bq)::before {
    content: url("../../src/quote.svg");
    position: absolute;
    top: 0;
    left: 0;
}

/* 设置列表中的引用样式 */
div.list div.bq {
    min-height: 26px;
    padding: 0px !important;
    border-left-width: 4px;
    background-color: #c4dbc8;
}

div.list div.bq div.p {
    padding: 4px 0 4px 12px;
}

div.list div.bq div[data-type="NodeHeading"] {
    margin-top: 4px;
}