.hljs.protyle-linenumber {
    padding-bottom: 4px;
    background-color: #aaecb1;
}

.code-block {
    outline: 0.1em solid #21964c4d;
}

.protyle-linenumber__rows {
    padding-bottom: 4px;
    background-color: #c4dbc8;
}

.protyle-linenumber__rows span::before {
    color: rgba(128, 128, 128, 0.5);
}

.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #c4dbc8;
}

/* 代码块的语言代码 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    margin-top: 0px;
    position: absolute;
    right: 4em;
    border-radius: 4px;
    opacity: 1 !important;
    font-family: var(--b3-font-family-code);
}

.b3-typography .code-block .protyle-action .protyle-action__language::after,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language::after {
    content: "›";
    font-family: var(--b3-font-family-code);
    color: #80808080;
    opacity: 1;
}

/* 复制和设置按钮样式 */
.b3-typography .code-block .protyle-action .protyle-icon,
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    opacity: 1 !important;
    background-color: transparent !important;
}

.b3-typography .code-block .protyle-action .protyle-icon svg,
.b3-typography .code-block .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language svg {
    color: gray;
}